img {
  width: 300px;
  padding-bottom: 35px;
}

ul {
  padding: 0;
  margin-left: 10px;
}

li {
  width: 400px;
  display: inline-block;
  text-align: center;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  margin: 20px;
}

.btn {
  text-align: center;
  margin: auto;
  width: 100px;
  padding: 10px;
  border-radius: 25px;
}

.btn:hover {
  color: #fff;
  background-color: red;
  cursor: pointer;
}
