.collection {
    text-align: center;
}

h1 {
    text-align: center;
}

.header-wrapper{
    margin: 0;
    background-color: #AAF200;
    text-align: center;
    text-transform: uppercase;
}
  
.header-wrapper > h1{
    margin: 0;
    padding: 10px;
    color: white;
}

