<nav>

  <ul *ngIf="isLogged">
    <li><p>Stats - <span>animals: {{ animals }} users: {{ users }}</span></p></li>
    <li><a routerLink="/mine">Profile</a></li>
    <li><a routerLink="/list">List Animals</a></li>
    <li><a routerLink="/create">Create</a></li>
    <li><a routerLink="/logout" (click)="logout()">Logout</a></li>
  </ul>

  <ul *ngIf="!isLogged">
    <li><p>Stats - <span>animals: {{ animals }} users: {{ users }}</span></p></li>
    <li><a routerLink="/list">List Animals</a></li>
    <li><a routerLink="/register">Register</a></li>
    <li><a routerLink="/login">Login</a></li>
  </ul>

</nav>

<router-outlet></router-outlet>

