<form action="/addCar" method="post" class="form center-form" enctype=multipart/form-data >
  <h2>Add Car</h2>
  <div class="form-group">
    <label for="name">Brand</label>
    <input id="name" name="brand" type="text" class="input-field"/>
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <input id="model" name="model" type="text" class="input-field"/>
  </div>
  <div class="form-group">
    <label for="pricePerDay">Price per day</label>
    <input id="pricePerDay" name="pricePerDay" type="number" step="0.01" min="0" class="input-field"/>
  </div>
  <div class="form-group">
    <label for="year">Year</label>
    <input id="year" name="year" type="number" step="0.01" min="0" class="input-field"/>
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input id="image" name="image" type="file" accept=".jpg,.jpeg,.png"/>
  </div>
  <div class="form-group">
    <input type="submit" value="Add" class="form-btn btn"/>
  </div>
</form>