.content {
    margin: auto;
    padding: 20px;
    max-width: 500px;
}

.form {
    text-align: center;
  }
  
.form>* {
    display: block;
    margin: auto;
    margin-bottom: 5px;
}
  
.form>input[type="submit"] {
    border: 0;
    margin: auto;
    margin-bottom: 5px;
    padding: 5px 10px;
    background: #6592bf;
    color: #ffffff;
}
.form>input[type="submit"]:hover {
    background: #83bef7;
    cursor: pointer;
}

.form>input[type="submit"] {
    border: 0;
    margin: auto;
    margin-bottom: 5px;
    padding: 5px 10px;
    background: #6592bf;
    color: #ffffff;
}

.form>input[type="submit"]:hover {
    background: #83bef7;
    cursor: pointer;
}

.header-wrapper{
    margin: 0;
    background-color: #AAF200;
    text-align: center;
    text-transform: uppercase;
}
  
.header-wrapper > h1{
    margin: 0;
    padding: 10px;
    color: white;
}