<h1>Add New Genre</h1>
<div class="container">
    <form action="/addGenre" enctype=multipart/form-data method="POST">
        <label for="genre">Genre</label>
        <input type="text" id="genre" name="genreName" placeholder="The name of the genre">

        <input type="submit" value="Submit">
    </form>
</div>
