<h1>Results from searching {{meme.memeName}}</h1>
<div class="container">
    <div class="meme">
        <a href="getDetails/{{meme.id}}">
            <img class="memePoster" src="{{meme.memeUrl}}" />
    </div>
</div>