<h2 style="text-align:center">Register</h2>
<form class="col s10 offset-s1" (ngSubmit)="regUser()">
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <div class="col-sm-4 ">
        <i class="material-icons">person_pin</i> Username
        <input type="text" class="form-control" id="inputFullName" placeholder="Username" required name="username" [(ngModel)]="username">
      </div>
    </div>
  </div>
  <div class="row">
      <div class="input-field col s4 offset-s4">
        <div class="col-sm-4 ">
          <i class="material-icons">language</i> Email
          <input type="text" class="form-control" id="email" placeholder="Email" required name="email" [(ngModel)]="email">
        </div>
      </div>
    </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <div class="col-sm-4">
        <i class="material-icons">lock</i> Password
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" required name="password" [(ngModel)]="password">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <div class="col-sm-4">
        <i class="material-icons">lock</i>Repeat Password
        <input type="password" class="form-control" id="repeatPass" placeholder="Repeat Password" required name="repeatPass" [(ngModel)]="repeatPass">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 center">
      <button type="submit" class="btn btn-primary green">Register</button>
      <br><br>
    </div>
    <br><br>
  </div>
</form>
