<div class="content">
    <img class="memePoster" src="{{meme.memeUrl}}" alt="" />
    <h3>Title: {{meme.memeName}}</h3>
    <p> {{meme.memeDescription}}</p>
    <button>
        <a href="{{meme.memeUrl}}" download>Download Meme</a>
    </button>
</div>`