<h1>Add category</h1>
<div class="login-page">
  <div class="form">
    <form action="/addCategory" method="POST" class="create-form">
      <input type="text" name='category' placeholder="Category" />
      <button type="submit">create</button>
    </form>
  </div>
</div>