<h1 style="text-align:center;">
  Select faction to attack
  <button (click)="logout()">Logout</button>
</h1>
<div style="text-align:center;">
  <button style="background-color:red" value="red" (click)="attack($event)">Red Team</button>
  <button style="background-color:green" value="green" (click)="attack($event)">Green Team</button>
  <button style="background-color:blue" value="blue" (click)="attack($event)">Blue Team</button>
  <button style="background-color:orange" value="orange" (click)="attack($event)">Orange Team</button>
</div>