<div class="header-wrapper">
  <h1 class="header center white-text text-lighten-2">My Posts</h1>
</div>
<div *ngIf="loading">
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
</div>
<div class="posts">
  <ul class="collection">
    <li *ngFor="let post of posts" class="collection-item avatar">
      <h5>{{post?.title}}</h5>
      <a routerLink="/post/details/{{post._id}}">
        <img style="height:200px; width:320px" src="{{post?.image}}" alt="" class="square">
        <br>
        <p class="title">{{post?.class}}</p>
        <br>
      </a>
      <img class="likeBtn" src="./../../../assets/like-button-png-2.png">
      <span>{{post?.totalLikes}}</span>
      <br>
      <button>
        <a routerLink="/post//edit/{{post?._id}}">
          Edit
        </a>
      </button>
      <button>
        <a routerLink="/post/delete/{{post?._id}}">
          Delete
        </a>
      </button>
    </li>
  </ul>
</div>


<h2 style="text-align:center;" *ngIf="empty">
  You don't have any posts.
</h2>