img {
  width: 500px;
}

.animal {
  text-align: center;
}

a img {
  width: 70px;
}

section {
  text-align: center;
}

a {
  text-align: center;
}

li {
  display: inline-block;
  padding-left: 63px;
}

.count {
  padding: 0;
  width: 500px;
  margin-left: 393px;
}

.create-comment {
  text-align: left;
  margin-top: 50px;
  margin-left: 75px;
}

textarea {
  width: 400px;
  height: 100px;
}

.author {
  border: 1px solid #DDDDDD;
  text-align: center;
  padding: 10px;
  width: 100px;
  /* float: left; */
}

.comment {
  border: 1px solid #DDDDDD;
  width: 700px;
  display: inline-block;
  margin-right: 500px;
  word-break: break-word;
}

.date {
  text-align: left;
  width: 140px;
  margin-left: 6px;
}

.content {
  /* width: 400px; */
  margin-left: 200px;
  text-align: left;
}

.reactions a:hover {
  cursor: pointer;
}