<div class="content">
  <div *ngIf="!post">
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </div>

  <form class="form center-form" (ngSubmit)="deletePost()">
    <h2>Delete Post</h2>
    <div class="form-group">
      <label for="title">Title</label>
      <input id="title" name="title" type="text" value="{{post?.title}}" class="form-control" disabled />
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input id="image" name="image" type="text" value="{{post?.image}}" class="form-control" disabled />
    </div>

    <label for="class">Class</label>
    <select id="class" name="class" type="text" value="{{post?.class}}" class="form-control" disabled>
      <option>Hunter</option>
      <option>Mage</option>
      <option>Paladin</option>
      <option>Priest</option>
      <option>Warrior</option>
      <option>Warlock</option>
      <option>Death Knight</option>
      <option>Druid</option>
      <option>Shaman</option>
      <option>Rogue</option>
    </select>


    <label for="category">Category</label>
    <select id="category" name="category" type="text" value="{{post?.category}}" class="form-control" disabled>
      <option>2v2</option>
      <option>3v3</option>
      <option>5v5</option>
    </select>

    <div class="form-group">
      <label for="description">Description</label>
      <input id="description" name="description" type="text" value="{{post?.description}}" class="form-control" disabled/>
    </div>
    <div class="form-group">
      <input type="submit" value="Delete" class="btn btn-primary red details-btn deletebtn" />
    </div>
  </form>
</div>