<h1 style="text-align:center;">Choose your faction</h1>
<div style="text-align:center;">
  <button style="background-color:red" value="red" (click)="selectFaction($event)">Red Team</button>
  <button style="background-color:green" value="green" (click)="selectFaction($event)">Green Team</button>
  <button style="background-color:blue" value="blue" (click)="selectFaction($event)">Blue Team</button>
  <button style="background-color:orange" value="orange" (click)="selectFaction($event)">Orange Team</button>
</div>