.header-wrapper{
    margin: 0;
    background-color: #AAF200;
    text-align: center;
    text-transform: uppercase;
}
  
.header-wrapper > h1{
    margin: 0;
    padding: 10px;
    color: white;
}

.collection {
    text-align: center;
}

.likeBtn {
    max-width: 25px;
}

.img {
    height: 200px;
    
}
  