<div class="header-wrapper">
  <h1 class="header white-text text-lighten-2">{{category}} posts</h1>
</div>

<div *ngIf="loading">
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
</div>

<div *ngIf="!empty" class="filter">
  <label for="filter">Filter</label>
  <select (change)="onChange($event)" id="filter">
    <option>Likes</option>
    <option>Latest</option>
    <option>Oldest</option>
  </select>
</div>

<div class="posts">
  <ul class="collection">
    <li *ngFor="let post of posts | paginate: {itemsPerPage: 3, currentPage: page}" class="collection-item avatar">
      <h5>{{post?.title}}</h5>
      <a routerLink="/post/details/{{post._id}}">
        <img style="height:200px; width:320px" src="{{post?.image}}" alt="" class="square">
        <br>
        <p class="title">{{post?.class}}</p>
        <br>
      </a>
      <div class="description">
        <p>
          {{post?.readMore}}...
        </p>
        <a routerLink="/post/details/{{post._id}}">
          Read More
        </a>
      </div>
      <img class="likeBtn" src="https://raw.githubusercontent.com/Atanas9708/JS-Web/master/Node.js%20%26%20Express.js%20Fundamentals/Exam%20Prep%20-%20Hotel%20System/static/img/like-button-png-2.png">
      <span>{{post?.totalLikes}}</span>
    </li>
  </ul>
</div>

<pagination-controls class="my-pagination" style="text-align:center;" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
  autoHide="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="Page"
  screenReaderCurrentLabel="You're on page">
</pagination-controls>

<div *ngIf="empty">
  <h1>There are no posts at the moment.</h1>
</div>