h1, h2 {
    text-align: center;
}

.header-wrapper{
    margin: 0;
    background-color: #AAF200;
    text-align: center;
    text-transform: uppercase;
    /* margin-bottom: 70px; */
}
  
.header-wrapper > h1{
    margin: 0;
    padding: 10px;
    color: white;
}

.collection {
    position: relative;;
}

.description {
    position: relative;
    width: 500px;
    left: 500px;
    bottom: 250px;
    height: 0px;
}

.likeBtn{
    max-width: 25px;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: red;
}


select {
    display: block;
}

.filter {
    margin-left: 74px;
    width: 300px;
}