extends ../layout

block content
    form.form.center-form(method='post')
        h2 Register User
        .form-group
            label(for='username') Username
            input#username.input-field(name='username', type='text' value=username)
        .form-group
            label(for='password') Password
            input#password.input-field(name='password', type='password')
        .form-group
            label(for='confirmedPassword') Confirm Password
            input#confirmedPassword.input-field(name='confirmedPassword', type='password')
        .form-group
            label(for='firstName') First Name
            input#firstName.input-field(name='firstName', type='text' value=firstName)
        .form-group
            label(for='lastName') Last Name
            input#lastName.input-field(name='lastName', type='text' value=lastName)
        .form-group
            input.form-btn.btn(type='submit', value='Register')
